{% extends 'base.html' %}

{% block content %}
<h2>Categories</h2>
<form action="{{ url_for('add_category') }}" method="post" class="mb-3" >
    <input type="text" name="name" class="form-control" placeholder="New Category" required>
    <button type="submit" class="btn btn-success mt-2">Add Category</button>
</form>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        {% for category in categories %}
        <tr>
            <td>{{ category.id }}</td>
            <td>{{ category.name }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% for message in get_flashed_messages() %}
<script>
  alter("{{message}}");
</script>
{% endfor %}
{% endblock %}