{% extends 'base.html' %}

{% block content %}
<div class="text-center">
      
    <h1>Welcome to the Medical Store Management System</h1>
    <p>Manage your store efficiently with our system.</p>
    <img src="https://static.vecteezy.com/system/resources/previews/005/815/640/non_2x/medical-shop-logo-template-this-design-use-stethoscope-symbol-suitable-for-bag-and-health-business-free-vector.jpg"
  alt="Medical Store"
  class="img-fluid mt-4"
  style="max-width:600px;
         border-radius:10px;">
</div>
{% endblock %}